body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#qa-block {
  text-align: left;
}

.first-square {
  width: 328px;
  margin: 20px 20px 40px;
  padding: 10px;
  border: 1px solid #e75551;
  background-color: #308dc0;
}

.second-square {
  border: 1px solid #e75551;
  background-color: #ffa500;
  padding: 10px;
}

.third-square {
  border: 1px solid #e75551;
  background-color: #ddd;
  padding: 10px;
}
